@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
.flex{
    display: flex;
}
.between-jc {
    justify-content: space-between;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.p-fix {
    position: fixed;
    top: 0;
    left: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* header */
header {
    width: 100%;
    background-color: #0084fd;
    padding: 20px 30px;
    z-index: 1;
}
.header-sec {
    align-items: center;
}
.menu-hamburger {
    font-size: 30px;
    color: #fff;
}

/* menù desktop */
.menu{
    display: none;
}
a {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style: none;
    font-size: 20px
}
li {
    display: inline-block;
    padding-right: 20px;
}
.button-h {
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    padding: 10px 15px;
}

/* Main */
.space {
    margin: 130px auto;
    text-align: center;
}

/* first section */

/* get a demo */
.container-1card {
    background-color: #b5ddff;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
}
.container-1card h3 {
    font-size: 23px;
    color: #0084fd;
    margin-bottom: 28px;
}
.container-1card div {
    color: #5a6e7f;
    line-height: 28px;
    font-weight: bold;
    padding-left: 8px;    
}
.text-demo {
    text-align: start;
}
.app-store{
    margin: 40px 0 20px 0;
}
.app-store a {
    padding: 10px 70px;
    border-radius: 20px;
    background-color: #0084fd;
}
.container-1card img {
    width: 100%;
    position: relative;
    top: 30px;
}

/* other */
.container-card{
    background-color: #b5ddff;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
}
.container-card h3 {
    font-size: 23px;
    color: #0084fd;
    margin-bottom: 28px;
}
.container-card .icon {
    color: #0084fd;
    font-size: 6rem;
    margin-bottom: 20px;
}
.container-card p {
    color: #5a6e7f;
    line-height: 28px;
    font-weight: bold;
}

/* strategic */
.strategic {
    background-color: #9792E4;
    padding: 30px
}
.width-img {
    width: 100%;
}
.title-strategic {
    font-size: 30px;
    color: #fff;
    margin: 50px 0;
}
.planning p {
    color: #fff;
    margin-bottom: 20px;
}

/* development */
.develop {
    background-color: #fff;
    text-align: center;
    padding: 30px;
    border-radius: 40px;
}
.develop h1 {
    font-size: 20px;
    margin: 10px 0;
}
.title-develop {
    margin-bottom: 40px;
}
.arrow-under {
    padding: 15px;
    background-color: #9792E4;
    border-radius: 30px;
    color: #000;
}

/* testimonials */
.testimonials {
    text-align: center;
}
.testimonials h2 {
    margin: 30px 0;
    font-weight: lighter;
}
.testimonials h1 {
    color: #9792E4;
    font-size: 30px;
    margin-bottom: 30px;
}
.testimonials p {
    margin-bottom: 30px;
}

/* card testimonials */
.cont-card {
    background-color: #9792E4;
    color: #fff;
    border-radius: 40px;
    padding: 20px 50px;
    margin-bottom: 30px;
}
.cont-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.text-1card {
    padding: 10px 0;
}
.text-1card p {
    line-height: 25px;
    text-align: center;
}
.text-1card h3 {
    margin: 20px 0;
    text-align: center;
}
.space-bottom {
    margin-bottom: 100px;
}


/* Tablet */
@media all and (min-width: 767px){
    /* main */

    /* demo */
    .space {
        justify-content: space-between;
    }
    .container-1card {
        width: 66%;
    }
    .container-card {
        width: 33%;
    }
    .container-1card img {
        width: 250px;
        position: relative;
        top: 40px;
        left: -30px;
    }
    .container-1card div {
        text-align: start;
    }
    

    /* strategic */
    .title-strategic {
        font-size: 60px;
    }

    /* testimonials */
    .cont-card {
        display: flex;
        padding-top: 30px;
    }
    .text-1card {
    margin: 10px 0 0 30px;
    }
    .text-1card p, .text-1card h3 {
        text-align: left;
    }
}

/* Desktop */
@media all and (min-width: 991px){
    /* header */
    .header-sec {
        width: 90%;
        margin: 0 auto;
    }
    .menu {
        display: block;
    }
    .menu-hamburger {
        display: none;
    }

    /* main */

    /* demo */
    .container-1card {
        flex-direction: row;
        width: 66%;
    }
    .container-card {
        width: 32%;
    }
    .img-cell {
        align-self: flex-end;
    }
    .container-1card img {
        width: 200px;
        position: relative;
        left: 10px;
    }
    .container-1card div {
        color: #5a6e7f;
        font-weight: bold;
    }
    .app-store a{
        padding: 10px 50px
    }
    
    /* strategic */
    .cont-strat {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .planning {
        width: 45%;
        padding: 50px 20px 10px 0px;
    }
    .develop {
        width: 35%;
        align-self: end;
    }
    .title-strategic {
        font-size: 30px;
    }

    /* testimonials */



}   